<style>
    input[type=number] {
      width: 60%;
      padding: 5px 10px;
      margin: 9px 0;
      box-sizing: border-box;
    }

</style>
<!--<form method="post" action="/" class="p-2">-->
<h1 class="p-1">SUDOKU</h1>
<p class="p-1"><%= params[:notice] %></p>

<%= form_with url: "/", method: :post , class: 'p-2' do |form| %>
    <table style="width:50%">
      <% (0..8).each do |i|%>
        <tr>
        <% (0..8).each do |j| %>
          <td style="width:50px"><%= form.text_field ('e'+(i*10+j).to_s).parameterize.underscore.to_sym ,value: @sudoku[i][j] , type: 'number', min: '0', max: '9'%></td>
        <% end %>
        </tr>
      <% end %>
    </table>
  <div class="p-3">
    <%=form.submit 'Check', class: "btn btn-outline-primary", name: 'check', formaction: enter_url%>
    <%=form.submit 'Auto-generate', class: "btn btn-outline-primary" , formaction: gen_url, name: 'gen'%>
    <%=form.submit 'Auto-solve', class: "btn btn-outline-primary", formaction: solve_url , name: 'solve'%>
  </div>
<% end %>
